<div class="formcontainer">

<h1>Editing: <%= @prop.title %></h1>

<div class="form">

	<!-- flash msg goes here -->

	<%= form_for @prop do |p| %>
		
		Name:<br>
		<%= p.text_field :title %><br>
		Address: <br>
		<%= p.text_field :street %><br>
		Price:<br>
		<%= p.text_field :price %><br>
		Square Footage:<br>
		<%= p.number_field :sqft %><br>
		Description:<br>
		<%= p.text_area :description %><br>
		Beds:<br> <%= p.number_field :beds %><br>
		Baths:<br>  <%= p.text_field :baths %><br>
		<div class="photobox">
			<%= p.fields_for :pics do |i| %>
			<div class="photo">
				<%= i.label :item, "Photo:" %>
				<%= i.file_field :item, name: "pics[item][]" %><br/>
				Delete: <%= i.check_box :remove_item %>
				</div>
			<% end %>
		</div>
		<%= p.submit "Update" %>

	<% end %>

	<button><%= link_to "Delete", :prop, method: :delete, data: {confirm: "Are you sure? This action cannot be undone."} %></button>

	<button><%= link_to "Cancel", prop_path %></button>

</div>

</div>