<div class="formcontainer">

<h1>Editing: <%= @prop.title %></h1>

<div class="form">

<!-- flash msg goes here -->

<%= form_for @prop do |p| %>
	
	Name: <%= p.text_field :title %>
	Address <%= p.text_field :address %>
	Price: <%= p.text_field :price %>
	Square Footage: <%= p.number_field :sqft %>
	Description: <%= p.text_area :description %><br>
	MLS url: <%= p.text_field :mls  %>
	Beds: <%= p.number_field :beds %>
	Baths <%= p.number_field :baths %>
	Photo : <%= p.file_field :image %>
	<%= p.submit "Update" %>

	<% end %>

<button><%= link_to "Delete", :prop, method: :delete, data: {confirm: "Are you sure? This action cannot be undone."} %></button>

<button><%= link_to "Cancel", prop_path %></button>

</div>

</div>