<!-- Nav -->

<div class="navbar">
	<!-- <div class="yellow"></div> -->
	<div class="links"><%= link_to "Home", props_path %>
		<a id="goingtoabout">About Us</a>
		<a id="goingtolistings">Listings</a>
		<a href="/">Buyers</a>
		<a href="/">Sellers</a>
		<a id="gotodev">Development</a>
		<a href="/">Contact</a> </div>
	<div class="bug"><img src="<%= asset_path('LogoBug_3a.svg') %>" alt="Maupin Realty"></div>
	<div class="bug2"><img src="<%= asset_path('LogoBug.svg') %>" alt="Maupin Realty"></div>
</div>

<!-- Hero -->

<div id="hero"><%= render partial: 'layouts/hero' %></div>

<!-- Listings -->

<div id="listings"><%= render partial: 'props/listings' %></div>

<!-- about -->

<div id="about"><%= render partial: 'props/bio' %></div>

<!-- development -->

<div id="dev"><%= render partial: 'props/develop' %></div>

<!-- links -->

<div id="links"><%= render partial: 'layouts/links' %></div>

<!-- Footer -->

<div id="footer"><%= render partial: 'layouts/footer' %></div>