<!-- Nav -->
<div class="navghost">
	<div class="bug2"><img src="<%= asset_path('LogoTwo.svg') %>" alt="Maupin Realty"></div>
	<div class="hamburger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
</div>
<div class="navbar">
 	<ul class="links">
		<li id="goingtolistings">Listings</li>
		<li id="goingtoabout">Info</li>
		<li id="gotodev">Development</li>
		<li id="gotocontact">Contact</li>
	</ul>
	<div class="bug"><img src="<%= asset_path('LogoBug_3a.svg') %>" alt="Maupin Realty"></div>
</div>

<!-- New Nav -->

<!-- Hero -->

<div id="hero"><%= render partial: 'layouts/hero' %></div>

<!-- Listings -->

<div id="listings"><%= render partial: 'props/listings' %></div>

<!-- about -->

<div id="about"><%= render partial: 'props/bio' %></div>

<!-- development -->

<div id="dev"><%= render partial: 'props/develop' %></div>

<!-- links -->

<div id="contact"><%= render partial: 'layouts/contact' %></div>

<!-- Footer -->

<div id="footer"><%= render partial: 'layouts/footer' %></div>