<!-- Hero -->

<div id="hero"><%= render partial: 'layouts/hero' %></div>

<!-- Listings -->

<div id="listings"><%= render partial: 'props/listings' %></div>

<!-- about -->

<div id="about"><%= render partial: 'props/bio' %></div>

<!-- development -->

<div id="dev"><%= render partial: 'props/develop' %></div>

<!-- links -->

<div id="links"><%= render partial: 'layouts/links' %></div>

<!-- Footer -->

<div id="footer"><%= render partial: 'layouts/footer' %></div>