<div class="formcontainer">

<h1>Add Property</h1>

<div class="form">

	<!-- flash msg goeas here -->

	<%= form_for @prop do |p| %>
		
		Name:<br>
		<%= p.text_field :title %><br>
		Address:<br>
		<%= p.text_field :street %><br>
		Price:<br>
		<%= p.text_field :price %><br>
		Square Footage:<br>
		<%= p.number_field :sqft %><br>
		Description:<br>
		<%= p.text_area :description %><br>
		MLS url:<br>
		<%= p.text_field :mls  %><br>
		Beds:<br>
		<%= p.number_field :beds %><br>
		Baths:<br>
		<%= p.number_field :baths %><br>
		<%= p.fields_for :pics do |i| %>
			<%= i.label :item, "Photos:" %><br/>
			<%= i.file_field :item, :multiple => true, name: "pics[item][]" %><br/>
		<%	 end %>
		<%= p.submit "Add Property" %>

		<% end %>

	<button><%= link_to "Cancel", props_path %></button>

</div>

</div>