<!-- Nav -->
<div class="navghost">
	<div class="bug2"><img src="<%= asset_path('LogoTwo.svg') %>" alt="Maupin Realty"></div>
	<div class="hamburger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
</div>
<div class="navbar">
 	<ul class="links">
		<li id="goingtolistings"><%= link_to "Listings", props_path %></li>
		<li id="goingtoabout"><%= link_to "Info", props_path %></li>
		<li id="gotodev"><%= link_to "Development", props_path %></li>
		<li ><%= link_to "Contact", props_path %></li>
	</ul>
	<div class="bug"><img src="<%= asset_path('LogoBug_3a.svg') %>" alt="Maupin Realty"></div>
</div>

<div class="navback"></div>

<!-- images -->
<div class="prophero">

</div>
<div class="my-slider">
	<ul>
		<% @prop.pics.each do |p| %>
			<li><%= image_tag p.item_url %></li>
		<% end %>
	</ul>	
</div>

<!-- info -->

<div class="propinfo">
		<div class="b1"><%= @prop.title %></div>
		<div class="propinfoleft">
			<h2><span>Address:</span> <%= @prop.street %> </h2>
			<h2><span>Price: </span> $<%= @prop.price %></h2>
			<h2><span>Square Feet: </span><%= @prop.sqft %> sq. ft.</h2>
			<div id="bedbath"><h2 id="bed"><span>Beds: </span><%= @prop.beds %></h2><h2 id="bath"><span>Baths: </span><%= @prop.baths %></h2></div>	
		</div>
		<div class="propinforight">
			<p><%= @prop.description %></p>
		</div>
		<div class="border">
		<button type="" class="shadow"> <%= link_to "All Listings", props_path %></button>
		<% if user_signed_in? %>
		<button type="" class="warning shadow"> <%= link_to "Edit", edit_prop_path, class: "warning" %></button>
		<% end %>
		</div>
</div>

<!-- Map -->

<div id="googlemaps">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=640x300&scale=2&zoom=15&style=feature:all|saturation:-100|gamma:0.7&markers=#{@prop.latitude}%2C#{@prop.longitude}", id: "largemap" %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=640x640&scale=2&zoom=17&style=feature:all|saturation:-100|gamma:0.7&markers=#{@prop.latitude}%2C#{@prop.longitude}", id: "smallmap" %>
</div>

<!-- Footer -->

<div class="footer">
	 <ul class="footlinks">
		<li id="goingtolistings"><%= link_to "Listings", props_path %></li> | 
		<li id="goingtoabout"><%= link_to "Info", props_path %></li> | 
		<li id="gotodev"><%= link_to "Development", props_path %></li> | 
		<li ><%= link_to "Contact", props_path %></li>
	</ul>
	
		<div id="user_nav">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
	<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
 	<% end %>
	<h3> ©2016 | Site Design by <a href="http://www.davidmaupin.com" target="blank"> Daily Ops </h3>
</div>




