<!-- Nav -->

<div class="navbar">
	<h4 id="close">X</h4><!-- <h4 id="open">Menu</h4> -->
 	<ul class="links">
		<li id="goingtolistings"><%= link_to "Listings", props_path %></li>
		<li id="goingtoabout"><%= link_to "Info", props_path %></li>
		<li id="gotodev"><%= link_to "Development", props_path %></li>
		<li ><%= link_to "Contact", props_path %></li>
	</ul>
	<div class="bug"><img src="<%= asset_path('LogoBug_3a.svg') %>" alt="Maupin Realty"></div>
	<div class="bug2"><img src="<%= asset_path('LogoTwo.svg') %>" alt="Maupin Realty"></div>
</div>

<!-- images -->
<div class="prophero">

</div>
<div class="my-slider">
	<ul>
		<% @prop.pics.each do |p| %>
			<li><%= image_tag p.item_url %></li>
		<% end %>
	</ul>	
</div>

<!-- info -->

<div class="propinfo">
		<div class="b1"><%= @prop.title %></div>
		<div class="propinfoleft">
			<h2><span>Address:</span> <%= @prop.street %> </h2>
			<h2><span>Price: </span> $<%= @prop.price %></h2>
			<h2><span>Square Feet: </span><%= @prop.sqft %> sq. ft.</h2>
			<div><h2><span>Beds: </span><%= @prop.beds %>  <span>Baths: </span><%= @prop.baths %></h2></div>	
		</div>
		<div class="propinforight">
			<p><%= @prop.description %></p>
		</div>
		<div class="border">
		<button type=""> <%= link_to "All Listings", props_path %></button>
		<!-- <button type="" class="warning"> <%= link_to "Edit", edit_prop_path, class: "warning" %></button> -->
		</div>
</div>

<!-- Map -->

<div id="googlemaps"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=640x300&scale=2&zoom=15&style=feature:all|saturation:-100|gamma:0.7&markers=#{@prop.latitude}%2C#{@prop.longitude}" %></div>

<!-- Footer -->

<div class="footer">
	 <ul class="footlinks">
		<li id="goingtolistingstwo"><a href="">Listings</a></li> | 
		<li id="goingtoabout"><a href="">Info</a></li> | 
		<li id="gotodev"><a href="">Development</a></li> | 
		<li id="gotocontact"><a href="">Contact</a></li>
	</ul>
	<h3> ©2016 | Site Design by <a href="http://www.davidmaupin.com" target="blank"> Daily Ops </h3>
</div>




