<!-- property-show -->

<!-- images -->
<div class="prophero">
	<img src="<%= asset_path('home2.png') %>" alt="">	
</div>
<!-- info -->
<div class="propinfo">
	<div class="propinfoleft">
		<div class="b1"><%= @prop.title %></div>
		<h2><span>Price:</span> <%= @prop.price %></h2>
		<h2><span>Square Feet:</span><%= @prop.sqft %> sq. ft.</h2>
		<div><h2><span>Beds:</span><%= @prop.beds %></h2> <h2><span>Baths:</span><%= @prop.baths %></h2></div>
		<button><div class="propinfolink"><a href="blank">View on MLS</a></div></button>
	</div>
	<div class="propinforight">
		<p><%= @prop.description %></p>
		<button type=""> <%= link_to "Home", props_path %></button>
	</div>
</div>

<!-- links -->

<%= render partial: 'layouts/links' %>

<!-- Footer -->

<%= render partial: 'layouts/footer' %>