<div class="footer">
	 <ul class="footlinks">
		<li id="goingtolistings"><a href="#listings">Listings</a></li> | 
		<li id="goingtoabout"><a href="#about">Info</a></li> | 
		<li id="gotodev"><a href="#dev">Development</a></li> | 
		<li id="gotocontact"><a href="#contact">Contact</a></li>
	</ul>
	
		<div id="user_nav">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
	<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
 	<% end %>
	<h3> ©2016 | Site Design by <a href="http://www.davidmaupin.com" target="blank"> Daily Ops </h3>
</div>