<!DOCTYPE html>
<html>
<head>
  <title>Maupin Realtors</title>
  <meta name="description" content="Maupin Realtors, Maupin Develppment">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- <meta name="viewport" content="width=device-width"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'maupicon.ico' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
</head>

<body>
	<%= yield %>
</body>
</html>
